<div class="lar-middle">
    <div class="col d-flex justify-content-center">
      <h2 class="h3 bolded-blue" data-i18n="moral-comment-title"></h2>
    </div>
    <p class="survey1-paragraph-body" data-i18n='moral-comment-p1' ></p>
         <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 150px"></textarea>
          <label for="floatingTextarea2">Comments</label>
        </div>
        <p class="survey1-paragraph-body" data-i18n='moral-comment-p2' ></p>
        <p class="survey1-paragraph-body" data-i18n='moral-comment-p3' ></p>
        <p class="survey1-paragraph-body" data-i18n='moral-comment-p4' ></p>
        <ul>
          <li class="content"><span class="survey1-paragraph-body" data-i18n='moral-comment-s1'></span><a href="https://www.betterhelp.com/get-started/" target="_blank">https://www.betterhelp.com/get-started/ </a></li>
          <li class="content"><span class="survey1-paragraph-body" data-i18n='moral-comment-s2'></span><br><a href="https://internationaltherapistdirectory.com/all-locations/" target="_blank">https://internationaltherapistdirectory.com/all-locations/  </a></li>
        </ul>
        <button type="button" class="btn btn-secondary custom-btn-left" onclick="nextPage()">Next</button>
   
  </div>