<div class="lar-middle">
    <div class="survey1-paragraph">
        <p class="survey1-paragraph-body lar-font2" style="font-weight: bolder;" data-i18n='litw-situation2-s1'></p>
        <span class="survey1-paragraph-body fst-italic" style="font-weight: bolder;" data-i18n='litw-situation2-s2'></span>
        <p class="survey1-paragraph-body" style="margin-top: 20px;" data-i18n='litw-situation2-p1'></p>
    </div>

    <div class="survey1-paragraph">
        <p class="survey1-paragraph-body lar-font" data-i18n='litw-sur2-body-idm-p3' style="font-weight: bolder"></p>
        <form id="decisionForm" class="form needs-validation" novalidate>
            <input type="radio" class="btn-check form-check-input" name="options" id="option1" autocomplete="off" required>
            <label class="btn btn-light jud form-check-label YA-NA " data-target="#YA" for="option1" data-i18n='litw-sur2-body-ans-la1'></label><br>
            <input type="radio" class="btn-check form-check-input" name="options" id="option2" autocomplete="off" required>
            <label class="btn btn-light jud form-check-label YA-NA " data-target="#NA" for="option2" data-i18n='litw-sur2-body-ans-la2'></label>
            <div class="survey1-paragraph">
                <p class="survey1-paragraph-body lar-font" data-i18n='litw-sur2-body-cho-p1' style="font-weight: bolder;margin-top: 130px"></p>

                <input type="radio" class="btn-check form-check-input" name="decision" id="option3" autocomplete="off" required>
                <label class="btn  btn-light cho form-check-label" for="option3" data-i18n='litw-sur2-body-cho-la1'></label>
                <input type="radio" class="btn-check form-check-input" name="decision" id="option4" autocomplete="off" required>
                <label class="btn  btn-light cho form-check-label" for="option4" data-i18n='litw-sur2-body-cho-la2'></label>
                <input type="radio" class="btn-check form-check-input" name="decision" id="option5" autocomplete="off" required>
                <label class="btn btn-light cho form-check-label" for="option5" data-i18n='litw-sur2-body-cho-la3'></label>
                <input type="radio" class="btn-check form-check-input" name="decision" id="option6" autocomplete="off" required>
                <label class="btn btn-light cho form-check-label" for="option6" data-i18n='litw-sur2-body-cho-la4'></label>
                <input type="radio" class="btn-check form-check-input" name="decision" id="option7" autocomplete="off" required>
                <label class="btn btn-light cho form-check-label" for="option7" data-i18n='litw-sur2-body-cho-la5'></label>
                <div class="invalid-feedback">
                    Please answer the question.
                </div>
            </div>
            <button type="submit" class="btn btn-secondary custom" id="sub1" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; width: auto;" onclick="if(this.form.checkValidity()) {  $('#btn-next-page').click(); }else {  this.form.stopPropagation(); } return false;" >Next</button>
        </form>
    </div>


    <div style="display: block;width: 100%;height: 300px;"></div>


</div>