
.middle{
    display: block;
    width: 50%;
    height: auto;
    margin-left: 25%;
}
.lar-middle{
    display: block;
    width: 70%;
    height: auto;
    margin-left: 15%;
}
h5{
    text-align: center;
}
.mag{
    margin-top: 5%;
}

.jud{
    width:100%;
    height:auto;
    float: left;
    margin-top: 10px;
    background-color: #F0F0F0;
    text-align: left;
    border: none;
    color: black;
    padding-top: 12px;

}
.option{
    margin-top: 10px;
    width: 100%;
}
.select{
    padding-top: 12px;
    text-align: left;
    height:50px;
    background-color: #F0F0F0;
    width:100%
}
.custom{
    margin-top: 20px;
    float: right;
}
